/* Estilo general */

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
}

p {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


/* Secciones */

#creacion,
#reglas,
#participantes,
#mejores-jugadores,
#momentos-historicos {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}


/* Encabezados de sección */

#creacion h1,
#reglas h1,
#participantes h1,
#mejores-jugadores h1,
#momentos-historicos h1 {
    text-align: center;
}


/* Imagenes */

#creacion img {
    margin-top: 20px;
}


/* Listas */

#participantes ul {
    list-style: none;
    padding: 0;
}

#participantes ul li {
    display: inline-block;
    margin-right: 10px;
}


/* Títulos de jugadores */

#mejores-jugadores h2 {
    font-size: 18px;
    margin-top: 10px;
}


/* Momentos históricos */

#momentos-historicos ul {
    list-style: none;
    padding: 0;
}

#momentos-historicos ul li {
    margin-bottom: 5px;
}


/* Colores */

h1 {
    color: #000;
}

#creacion {
    background-color: #f6f6f6;
}

#reglas {
    background-color: #fafafa;
}

#participantes {
    background-color: #fbfbfb;
}

#mejores-jugadores {
    background-color: #fcfcfc;
}

#momentos-historicos {
    background-color: #fdfdfd;
}


/* Media queries */

@media (max-width: 768px) {
    /* Ajusta el diseño para dispositivos móviles */
    #creacion,
    #reglas,
    #participantes,
    #mejores-jugadores,
    #momentos-historicos {
        width: 100%;
    }
    #participantes ul li {
        display: block;
        margin-right: 0;
    }
}