* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #E9CB8E;
    color: #000000;
    text-align: center;
    padding: 20px 0;
    min-height: 10vh
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}

header nav a:hover {
    color: #5e2d07;
}

.contenedor {
    background-color: #5e2d07;
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    text-align: justify;
    margin-right: 25px;
}

.imagen {
    flex: 0 0 450px;
    margin-top: 33px;
    margin-left: 33px;
    margin-right: 20px;
}

.imagen img {
    max-width: 100%;
    height: auto;
}

.contenido {
    flex: 1;
}

.contenido h2 {
    margin-top: 0;
    font-size: 18px;
}

.contenido p {
    margin-bottom: 10px;
}

footer {
    background-color: #E9CB8E;
    color: #000000;
    text-align: center;
    padding: 10px;
    min-height: 10vh;
}